<!doctype html>
<html>
<head>
	<meta charset="utf-8"/>
	<style>
		*, *:before, *:after {
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			/* outline: 1px dotted; */
		}
		body {
			font-size: 100%;
			display: flex;
			margin: 5mm;
			flex-wrap: wrap;
		}
		body>* {
			margin: 5mm;
		}
		h1, h2, h3 {
			font-weight: normal;
			text-align: center;
			/* background: #F6F5DB; */
			margin: 0;
		}
		h3 {
			font-size: 50%;

		}
		img {
			display: block;
		}
		.ending, .word,
		.image, .other-cards {
			position: relative;
		}
		.ending:before { content:"-"; }
		.ending {
			font-size: 350%;
			top: -5%;
			margin-bottom: -8%;
			height: 20%;
		}
		.image {
			height: 50%;
			width: 100%;
			margin: 0;
		}
		.word {
			height: 15%;
			font-size: 160%;
			margin-bottom: 5%;
			font-weight: lighter;
		}
		.other-cards {
			height: 15%;
		}
		.other-cards>* {
			margin: 2%;
			/* background: silver; */
			/* box-shadow: inset 0 0 10px silver; */
			/* box-shadow: 0 8px 6px -6px silver; */
			/* min-height: 20px; */
			/* width: auto; */
		}
		.current {
			border-radius: 10%;
			box-shadow: 1px 1px 2px 2px silver;
			/* background: grey; */
		}
		.card {
			font-family: Satisfy, cursive;
			font-family: 'Indie Flower', cursive;
			font-weight:normal;
			box-sizing: border-box;
			box-shadow: inset 0 0 10px silver;
			width:  6cm;
			height: 9cm;
			border: 2mm solid {{ .Color }};
			border-radius: 15%;
			/* outline: 1px dotted green; */
			padding: calc(6cm/8);
			/* border:30px solid transparent; */
		}
		.flex {
			display: flex;
			/* outline: 1px dotted grey; */
			align-items: stretch;
			/* align-content: center; */
			justify-content: space-between;
			/* flex-wrap: wrap; */
		}
		.flex.eq>* { flex: 1; }
		.flex.hor { flex-direction: row; }
		.flex.ver { flex-direction: column; }
	</style>
</head>
<body>
<div class="card">
	<h1 class="ending">{{ .Ending }}</h1>
	<img class="image" src="{{ .Image }}"/>
	<h2 class="word">{{ .Word }}</h2>
	<div class="flex eq hor other-cards">
		{{ range .OtherCards }}
		<div class="flex eq ver">
			<img src="{{ .Image }}"/>
			<h3>{{ .Word }}</h3>
		</div>
		{{ end }}
	</div>
</div>
</body>
</html>
